<div class="ibox" ng-controller="POSOrderListController">
    <div class="ibox-title">
        <h5>{{ 'List of POS orders'|trans }}</h5>
    </div>
    <div class="ibox-content">
        <div>
            <span ng-if="listManager.options.id" class="label label-info">ID: {{ '{{ listManager.options.id }}' }}</span>
        </div>

        <table class="table table-stripped">
            <thead>
            <tr>
                <th width="100px">
                    <span ng-click="setSortBy('id')">ID</span>
                    <i ng-if="!listManager.isSortByField('id')" class="fa fa-sort"></i>
                    <i ng-if="listManager.isSortByField('id')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('id', 1), 'fa-sort-amount-desc': listManager.isSortBy('id', 0)}" ></i>
                </th>
                <th>{{ 'Currency pair'|trans }}</th>
                <th>{{ 'Created at'|trans }}</th>
                <th>{{ 'Workspace'|trans }}</th>
                <th>{{ 'Employee'|trans }}</th>
                <th>
                    <span ng-click="setSortBy('status')">{{ 'Status'|trans }}</span>
                    <i ng-if="!listManager.isSortByField('status')" class="fa fa-sort"></i>
                    <i ng-if="listManager.isSortByField('status')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('status', 1), 'fa-sort-amount-desc': listManager.isSortBy('status', 0)}" ></i>
                </th>
                <th>
                    <span ng-click="setSortBy('amount')">{{ 'Amount'|trans }}</span>
                    <i ng-if="!listManager.isSortByField('amount')" class="fa fa-sort"></i>
                    <i ng-if="listManager.isSortByField('amount')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('amount', 1), 'fa-sort-amount-desc': listManager.isSortBy('amount', 0)}" ></i>
                </th>
            </tr>
            <tr>
                <th>
                    <input style="width: 50px;" ng-model="listManager.filters.id" on-enter="search()" />
                    <button class="btn btn-success btn-xs" ng-click="search()">
                        <i class="fa fa-search"></i>
                    </button>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="POSOrder in results">
                <td>
                    <button class="btn btn-success btn-outline btn-xs" ng-click="routing.openPOSOrder(POSOrder.id)">{{ '{{ POSOrder.id }}' }}</button>
                </td>
                <td>{{ '{{ POSOrder.currencyPair.baseCurrency.shortName }}' }}/{{ '{{ POSOrder.currencyPair.quotedCurrency.shortName }}' }}</td>
                <td>{{ '{{ POSOrder.createdAt }}' }}</td>
                <td>
                    {{ '{{ POSOrder.workspace.name }}' }}
                </td>
                <td>
                    {{ '{{ POSOrder.employee.firstName }}' }} {{ '{{ POSOrder.employee.lastName }}' }}
                    <button class="btn btn-success btn-outline btn-xs" ng-click="">{{ '{{ POSOrder.employee.id }}' }}</button>
                </td>
                <td>{{ '{{ POSOrder.statusName }}' }}</td>
                <td>{{ '{{ POSOrder.amount }}' }}</td>
            </tr>
            <tr ng-if="results.length === 0">
                <td colspan="10">
                    {{ 'Nothing found'|trans }}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="14" class="text-right">
                    <button ng-click="changePageSize(100)" class="btn btn-info" ng-class="{'active': listManager.isPageSizeActive(100)}">100</button>
                    <button ng-click="changePageSize(250)" class="btn btn-info" ng-class="{'active': listManager.isPageSizeActive(250)}">250</button>
                    <button ng-click="changePageSize(500)" class="btn btn-info" ng-class="{'active': listManager.isPageSizeActive(500)}">500</button>
                    &#160;/&#160;page
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    <button ng-click="changePage(page.page)" ng-repeat="page in pages" class="btn btn-success" ng-class="{'active': listManager.isPageActive(page.page)}">{{ '{{ page.page }}' }}</button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
