{% if listType is not defined %}
    {% set listType = 'general' %}
{% endif %}

{% set ng_init = 'ng-init="search()"' %}

{% if listType == 'forDeposit' %}
    {% set ng_init = '' %}
{% endif %}

<style>
    .ibox-title {
        padding: 15px 15px 8px 15px;
    }
</style>

<div ng-controller="WalletListController" {{ ng_init|raw }}>
    {% if listType == 'forDeposit' %}
        <div class="row">
            <div class="col-lg-5">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>{{ 'Find wallet for deposit'|trans }}</h5>
                    </div>
                    <div class="ibox-content">
                        <form role="form" >
                            <div class="form-group">
                                <label>{{ 'Wallet ID'|trans }} <span class="text-danger">*</span></label>
                                <input class="form-control" name="id" ng-model="listManager.filters.id" on-enter="search()">
                            </div>
                            <div>
                                <button ng-click="search()" class="btn btn-success btn-outline btn-sm" type="button"><i class="fa fa-search"></i> {{ 'Find wallet'|trans }}</button>
                                <div>
                                    <small class="text-danger float-right">* {{ 'required'|trans }}</small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>{{ 'Deposit selected wallet'|trans }}</h5>
                    </div>
                    <div class="ibox-content">
                        {% include 'admin/admin/app-views/new_deposit_view.html.twig' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4" ng-repeat="wallet in results">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>{{ 'Wallet'|trans }} [ID: {{ '{{ wallet.id }}' }}]</h5>
                                <button class="btn btn-primary btn-outline btn-sm float-right" ng-click="setForDeposit(wallet.id)">{{ 'Select for deposit'|trans }} <i class="fa fa-credit-card"></i></button>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h4>
                                            {{ '{{ wallet.user.fullName }}' }}<br />
                                            {{ '{{ wallet.user.email }}' }}
                                        </h4>
                                        <p>
                                            <strong>{{ 'Address'|trans }}</strong><br />
                                            {{ '{{ wallet.user.street }}' }}, {{ '{{ wallet.user.building }}' }}, {{ '{{ wallet.user.apartment }}' }}<br />
                                            {{ '{{ wallet.user.postalCode }}' }}, {{ '{{ wallet.user.city }}' }}, {{ '{{ wallet.user.state }}' }}<br />
                                            {{ '{{ wallet.user.country.name }}' }}, <br />
                                            <strong>{{ 'Phone'|trans }}</strong>
                                            {{ '{{ wallet.user.phone }}' }}
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h2 class="product-main-price">{{ '{{ wallet.currency.fullName }}' }} <small class="text-muted">{{ '{{ wallet.currency.shortName }}' }}</small> </h2>

                                        <div class="row">
                                            <div class="col-6">
                                                <small class="stats-label">{{ 'Balance'|trans }}</small>
                                                <h4>{{ '{{ wallet.amount }}' }} <small class="text-muted">{{ '{{ wallet.currency.shortName }}' }}</small></h4>
                                                <div class="progress progress-mini">
                                                    <div style="width: {{ '{{ wallet.freeAmountPercent }}' }}%;" class="progress-bar"></div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <small class="stats-label">{{ 'Pending'|trans }}</small>
                                                <h4>{{ '{{ wallet.amountPending }}' }} <small class="text-muted">{{ '{{ wallet.currency.shortName }}' }}</small></h4>
                                                <div class="progress progress-mini">
                                                    <div style="width: {{ '{{ wallet.amountPendingPercentage }}' }}%;" class="progress-bar progress-bar-warning"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>{{ 'My recent deposits'|trans }}</h5>
                    </div>
                    <div class="ibox-content">
                        TODO - list of MY recently created deposit requests
                    </div>
                </div>
            </div>
            #}
        </div>
    {% else %}
        <div class="ibox">
            <div class="ibox-title">
                <h5>{{ 'List of wallets'|trans }}</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <span ng-if="listManager.options.id" class="label label-info">ID: {{ '{{ listManager.options.id }}' }}</span>
                    <span ng-if="listManager.options.name" class="label label-info">{{ 'Name'|trans }}: {{ '{{ listManager.options.name }}' }}</span>
                </div>

                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th width="100px">
                            <span ng-click="setSortBy('id')">ID</span>
                            <i ng-if="!listManager.isSortByField('id')" class="fa fa-sort"></i>
                            <i ng-if="listManager.isSortByField('id')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('id', 1), 'fa-sort-amount-desc': listManager.isSortBy('id', 0)}" ></i>
                        </th>
                        <th>
                            <span ng-click="setSortBy('name')">{{ 'Name and details'|trans }}</span>
                            <i ng-if="!listManager.isSortByField('name')" class="fa fa-sort"></i>
                            <i ng-if="listManager.isSortByField('name')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('name', 1), 'fa-sort-amount-desc': listManager.isSortBy('name', 0)}" ></i>
                        </th>
                        <th>{{ 'Currency'|trans }}</th>
                        <th>
                            <span ng-click="setSortBy('amount')">{{ 'Amount'|trans }}</span>
                            <i ng-if="!listManager.isSortByField('amount')" class="fa fa-sort"></i>
                            <i ng-if="listManager.isSortByField('amount')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('amount', 1), 'fa-sort-amount-desc': listManager.isSortBy('amount', 0)}" ></i>
                        </th>
                        <th>{{ 'Amount pending'|trans }}</th>
                        <th>{{ 'Amount free'|trans }}</th>
                        <th>{{ 'User'|trans }}</th>
                    </tr>
                    <tr>
                        <th>
                            <input style="width: 50px;" ng-model="listManager.filters.id" on-enter="search()" />
                            <button class="btn btn-success btn-xs" ng-click="search()">
                                <i class="fa fa-search"></i>
                            </button>
                        </th>
                        <th>
                            <input ng-model="listManager.filters.name" on-enter="search()" />
                            <button class="btn btn-success btn-xs" ng-click="search()">
                                <i class="fa fa-search"></i>
                            </button>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="wallet in results">
                        <td>
                            <button class="btn btn-success btn-outline btn-xs" ng-click="routing.openWallet(wallet.id)">{{ '{{ wallet.id }}' }}</button>
                        </td>
                        <td>{{ '{{ wallet.name }}' }}</td>
                        <td>[{{ '{{ wallet.currency.shortName }}' }}] {{ '{{ wallet.currency.fullName }}' }}</td>
                        <td>{{ '{{ wallet.amount }}' }}</td>
                        <td>{{ '{{ wallet.amountPending }}' }}</td>
                        <td>{{ '{{ wallet.freeAmount }}' }}</td>
                        <td>
                            <button class="btn btn-success btn-outline btn-xs" ng-click="routing.openUser(wallet.user.id)">{{ '{{ wallet.user.id }}' }}</button> {{ '{{ wallet.user.firstName }}' }} {{ '{{ wallet.user.lastName }}' }}
                        </td>
                    </tr>
                    <tr ng-if="results.length === 0">
                        <td colspan="7">
                            {{ 'Nothing found'|trans }}
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="14" class="text-right">
                            <button ng-click="changePageSize(100)" class="btn btn-info" ng-class="{'active': listManager.isPageSizeActive(100)}">100</button>
                            <button ng-click="changePageSize(250)" class="btn btn-info" ng-class="{'active': listManager.isPageSizeActive(250)}">250</button>
                            <button ng-click="changePageSize(500)" class="btn btn-info" ng-class="{'active': listManager.isPageSizeActive(500)}">500</button>
                            &#160;/&#160;page
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <button ng-click="changePage(page.page)" ng-repeat="page in pages" class="btn btn-success" ng-class="{'active': listManager.isPageActive(page.page)}">{{ '{{ page.page }}' }}</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    {% endif %}
</div>