{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'Orders'|trans }}{% endblock %}

{% block body %}
    {% include 'admin/admin/partial/breadcrumbs.html.twig' with {
        'title': 'Order list'
    } only %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox" id="orderListAppHandler" ng-controller="orderListAppCtrl">
                    <div class="ibox-title">
                        <h5>{{ 'List of orders'|trans }}</h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <span ng-if="listManager.options.id" class="label label-info">ID: {{ '{{ listManager.options.id }}' }}</span>
                            <span ng-if="listManager.options.name" class="label label-info">Name: {{ '{{ listManager.options.name }}' }}</span>
                        </div>

                        <table class="table table-stripped">
                            <thead>
                            <tr>
                                <th width="100px">
                                    <span ng-click="setSortBy('id')">ID</span>
                                    <i ng-if="!listManager.isSortByField('id')" class="fa fa-sort"></i>
                                    <i ng-if="listManager.isSortByField('id')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('id', 1), 'fa-sort-amount-desc': listManager.isSortBy('id', 0)}" ></i>
                                </th>
                                <th>{{ 'Currency pair'|trans }}</th>
                                <th>{{ 'Created at'|trans }}</th>
                                <th>
                                    <span ng-click="setSortBy('type')">{{ 'Type'|trans }}</span>
                                    <i ng-if="!listManager.isSortByField('type')" class="fa fa-sort"></i>
                                    <i ng-if="listManager.isSortByField('type')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('type', 1), 'fa-sort-amount-desc': listManager.isSortBy('type', 0)}" ></i>
                                </th>
                                <th>
                                    <span ng-click="setSortBy('status')">{{ 'Status'|trans }}</span>
                                    <i ng-if="!listManager.isSortByField('status')" class="fa fa-sort"></i>
                                    <i ng-if="listManager.isSortByField('status')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('status', 1), 'fa-sort-amount-desc': listManager.isSortBy('status', 0)}" ></i>
                                </th>
                                <th>
                                    <span ng-click="setSortBy('limitPrice')">{{ 'Limit price'|trans }}</span>
                                    <i ng-if="!listManager.isSortByField('limitPrice')" class="fa fa-sort"></i>
                                    <i ng-if="listManager.isSortByField('limitPrice')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('limitPrice', 1), 'fa-sort-amount-desc': listManager.isSortBy('limitPrice', 0)}" ></i>
                                </th>
                                <th>
                                    <span ng-click="setSortBy('amount')">{{ 'Amount'|trans }}</span>
                                    <i ng-if="!listManager.isSortByField('amount')" class="fa fa-sort"></i>
                                    <i ng-if="listManager.isSortByField('amount')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('amount', 1), 'fa-sort-amount-desc': listManager.isSortBy('amount', 0)}" ></i>
                                </th>
                                <th>
                                    <span ng-click="setSortBy('amountFilled')">{{ 'Amount filled'|trans }}</span>
                                    <i ng-if="!listManager.isSortByField('amountFilled')" class="fa fa-sort"></i>
                                    <i ng-if="listManager.isSortByField('amountFilled')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('amountFilled', 1), 'fa-sort-amount-desc': listManager.isSortBy('amountFilled', 0)}" ></i>
                                </th>
                                <th>
                                    <span ng-click="setSortBy('isFilled')">{{ 'Is filled'|trans }}</span>
                                    <i ng-if="!listManager.isSortByField('isFilled')" class="fa fa-sort"></i>
                                    <i ng-if="listManager.isSortByField('isFilled')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('isFilled', 1), 'fa-sort-amount-desc': listManager.isSortBy('isFilled', 0)}" ></i>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <input style="width: 50px;" ng-model="listManager.filters.id" on-enter="search()" />
                                    <button class="btn btn-success btn-xs" ng-click="search()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="order in results">
                                <td>
                                    <button class="btn btn-success btn-outline btn-xs" ng-click="routing.openOrder(order.id)">{{ '{{ order.id }}' }}</button>
                                </td>
                                <td>{{ '{{ order.currencyPair.baseCurrency.shortName }}' }}/{{ '{{ order.currencyPair.quotedCurrency.shortName }}' }}</td>
                                <td>{{ '{{ order.createdAt }}' }}</td>
                                <td>{{ '{{ order.typeName }}' }}</td>
                                <td>{{ '{{ order.statusName }}' }}</td>
                                <td>{{ '{{ order.limitPrice }}' }}</td>
                                <td>{{ '{{ order.amount }}' }}</td>
                                <td>{{ '{{ order.amountFilled }}' }}</td>
                                <td>
                                    <i ng-if="order.isFilled" class="fa fa-check text-navy"></i>
                                    <i ng-if="!order.isFilled" class="fa fa-times text-danger"></i>
                                </td>
                            </tr>
                            <tr ng-if="results.length === 0">
                                <td colspan="10">
                                    {{ 'Nothing found'|trans }}
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="14" class="text-right">
                                    <button ng-click="changePageSize(100)" class="btn btn-info" ng-class="{'active': listManager.isPageSizeActive(100)}">100</button>
                                    <button ng-click="changePageSize(250)" class="btn btn-info" ng-class="{'active': listManager.isPageSizeActive(250)}">250</button>
                                    <button ng-click="changePageSize(500)" class="btn btn-info" ng-class="{'active': listManager.isPageSizeActive(500)}">500</button>
                                    &#160;/&#160;page
                                </td>
                            </tr>
                            <tr>
                                <td colspan="10">
                                    <button ng-click="changePage(page.page)" ng-repeat="page in pages" class="btn btn-success" ng-class="{'active': listManager.isPageActive(page.page)}">{{ '{{ page.page }}' }}</button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/admin/app/listModule.js"></script>
    <script src="/admin/app/orderListApp.js"></script>
{% endblock %}