{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'Trades'|trans }}{% endblock %}

{% block body %}
    {% include 'admin/admin/partial/breadcrumbs.html.twig' with {
        'title': 'Trade list'
    } only %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox" id="tradeListAppHandler" ng-controller="tradeListAppCtrl">
                    <div class="ibox-title">
                        <h5>{{ 'List of trades'|trans }}</h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <span ng-if="listManager.options.id" class="label label-info">ID: {{ '{{ listManager.options.id }}' }}</span>
                            <span ng-if="listManager.options.name" class="label label-info">{{ 'Name'|trans }}: {{ '{{ listManager.options.name }}' }}</span>
                        </div>

                        <table class="table table-stripped">
                            <thead>
                            <tr>
                                <th width="100px">
                                    <span ng-click="setSortBy('id')">ID</span>
                                    <i ng-if="!listManager.isSortByField('id')" class="fa fa-sort"></i>
                                    <i ng-if="listManager.isSortByField('id')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('id', 1), 'fa-sort-amount-desc': listManager.isSortBy('id', 0)}" ></i>
                                </th>
                                <th>
                                    <span ng-click="setSortBy('createdAt')">{{ 'Created at'|trans }}</span>
                                    <i ng-if="!listManager.isSortByField('createdAt')" class="fa fa-sort"></i>
                                    <i ng-if="listManager.isSortByField('createdAt')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('createdAt', 1), 'fa-sort-amount-desc': listManager.isSortBy('createdAt', 0)}" ></i>
                                </th>
                                <th>
                                    <span ng-click="setSortBy('amount')">{{ 'Amount'|trans }}</span>
                                    <i ng-if="!listManager.isSortByField('amount')" class="fa fa-sort"></i>
                                    <i ng-if="listManager.isSortByField('amount')" class="fa" ng-class="{'fa-sort-amount-asc': listManager.isSortBy('amount', 1), 'fa-sort-amount-desc': listManager.isSortBy('amount', 0)}" ></i>
                                </th>
                                <th>{{ 'Price'|trans }}</th>
                                <th>{{ 'Fee offer'|trans }}</th>
                                <th>{{ 'Fee bid'|trans }}</th>
                                <th>{{ 'Signature'|trans }}</th>
                                <th>{{ 'Offer & Bid orders'|trans }}</th>
                            </tr>
                            <tr>
                                <th>
                                    <input style="width: 50px;" ng-model="listManager.filters.id" on-enter="search()" />
                                    <button class="btn btn-success btn-xs" ng-click="search()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="trade in results">
                                <td>
                                    <button class="btn btn-success btn-outline btn-xs" ng-click="routing.openTrade(trade.id)">{{ '{{ trade.id }}' }}</button>
                                </td>
                                <td>{{ '{{ trade.createdAt }}' }}</td>
                                <td>{{ '{{ trade.amount }}' }}</td>
                                <td>{{ '{{ trade.price }}' }}</td>
                                <td>{{ '{{ trade.feeOffer }}' }}</td>
                                <td>{{ '{{ trade.feeBid }}' }}</td>
                                <td>{{ '{{ trade.signature }}' }}</td>
                                <td>
                                    <button ng-if="trade.orderSell.id" class="btn btn-success btn-outline btn-xs" ng-click="routing.openOrder(trade.orderSell.id)">Offer {{ '{{ trade.orderSell.id }}' }}</button>
                                    <button ng-if="trade.orderBuy.id" class="btn btn-success btn-outline btn-xs" ng-click="routing.openOrder(trade.orderBuy.id)">Bid {{ '{{ trade.orderBuy.id }}' }}</button>
                                </td>
                            </tr>
                            <tr ng-if="results.length === 0">
                                <td colspan="8">
                                    {{ 'Nothing found'|trans }}
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="14" class="text-right">
                                    <button ng-click="changePageSize(100)" class="btn btn-info" ng-class="{'active': listManager.isPageSizeActive(100)}">100</button>
                                    <button ng-click="changePageSize(250)" class="btn btn-info" ng-class="{'active': listManager.isPageSizeActive(250)}">250</button>
                                    <button ng-click="changePageSize(500)" class="btn btn-info" ng-class="{'active': listManager.isPageSizeActive(500)}">500</button>
                                    &#160;/&#160;page
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <button ng-click="changePage(page.page)" ng-repeat="page in pages" class="btn btn-success" ng-class="{'active': listManager.isPageActive(page.page)}">{{ '{{ page.page }}' }}</button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/admin/app/listModule.js"></script>
    <script src="/admin/app/tradeListApp.js"></script>
{% endblock %}